In [1]:
import pandas as pd

In [5]:
data1 = pd.read_csv('Japan_2019_2022(!).csv')

In [7]:
data2 = pd.read_csv('Japan_2022_202305(!).csv', encoding='cp949')

In [8]:
data3 = pd.concat([data1, data2], axis=0)
data3

             OT   MT   DEP   SC    LAT     LON     SPOT
0    2019-11-18  3.5  48.0  2.0  36.07  139.51    茨城県南部
1    2019-11-18  3.7  56.0  2.0  36.27  140.36    茨城県北部
2    2019-11-17  4.7  13.0  4.0  34.38  139.03   伊豆大島近海
3    2019-11-17  3.5  59.0  2.0  36.28  140.36    茨城県北部
4    2019-11-17  4.6  28.0  2.0  28.48  129.54   奄美大島近海
..          ...  ...   ...  ...    ...     ...      ...
881  2022-09-24  4.0   9.0  3.0  34.47  135.19   兵庫?南東部
882  2022-09-23  4.7  83.0  3.0  36.04  140.12    茨城?南部
883  2022-09-23  4.6  26.0  1.0  26.21  125.59  沖?本島北西沖
884  2022-09-23  2.6  11.0  1.0  35.54  137.39    長野?南部
885  2022-09-23  2.7  13.0  1.0  37.31  137.18  石川?能登地方

[2313 rows x 7 columns]

In [9]:
data3.to_csv('일본5년치(전처리완).csv', index=False)