In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('datasets/한국5년치(전처리완).csv')
data

              OT   MT   DEP  SC    LAT     LON                     SPOT
0     2023-09-27  3.2   6.0   1  41.33  129.16  북한 함경북도 길주 북북서쪽 44km 지역
1     2023-09-26  1.4   7.0   1  35.36  126.30      전남 영광군 서북서쪽 21km 해역
2     2023-09-26  1.2  12.0   1  36.44  128.05      경북 상주시 서북서쪽 10km 지역
3     2023-09-26  1.5   9.0   1  39.03  126.57  북한 평안남도 양덕 남남서쪽 21km 지역
4     2023-09-25  1.2   9.0   1  34.98  127.38      전남 순천시 서북서쪽 10km 지역
...          ...  ...   ...  ..    ...     ...                      ...
3022  2019-09-01  2.3  16.0   1  39.51  126.10   북한 평안남도 개천 남동쪽 27km 지역
3023  2019-09-01  1.0   6.0   1  37.96  124.64   인천 옹진군 백령도 서북서쪽 4km 지역
3024  2019-09-01  1.1  10.0   1  36.37  127.23       충남 공주시 남동쪽 13km 지역
3025  2019-09-01  1.0   9.0   1  37.97  124.59   인천 옹진군 백령도 서북서쪽 8km 해역
3026  2019-09-01  1.0  12.0   1  36.08  128.64      경북 군위군 남남동쪽 19km 지역

[3027 rows x 7 columns]

In [3]:
data1 = pd.read_csv('datasets/일본5년치(전처리완).csv')
data1

              OT   MT   DEP   SC    LAT     LON     SPOT
0     2019-11-18  3.5  48.0  2.0  36.07  139.51    茨城県南部
1     2019-11-18  3.7  56.0  2.0  36.27  140.36    茨城県北部
2     2019-11-17  4.7  13.0  4.0  34.38  139.03   伊豆大島近海
3     2019-11-17  3.5  59.0  2.0  36.28  140.36    茨城県北部
4     2019-11-17  4.6  28.0  2.0  28.48  129.54   奄美大島近海
...          ...  ...   ...  ...    ...     ...      ...
2308  2022-09-24  4.0   9.0  3.0  34.47  135.19   兵庫?南東部
2309  2022-09-23  4.7  83.0  3.0  36.04  140.12    茨城?南部
2310  2022-09-23  4.6  26.0  1.0  26.21  125.59  沖?本島北西沖
2311  2022-09-23  2.6  11.0  1.0  35.54  137.39    長野?南部
2312  2022-09-23  2.7  13.0  1.0  37.31  137.18  石川?能登地方

[2313 rows x 7 columns]

In [4]:
earthquake_df = pd.concat([data, data1], ignore_index=True)
earthquake_df

              OT   MT   DEP   SC    LAT     LON                     SPOT
0     2023-09-27  3.2   6.0  1.0  41.33  129.16  북한 함경북도 길주 북북서쪽 44km 지역
1     2023-09-26  1.4   7.0  1.0  35.36  126.30      전남 영광군 서북서쪽 21km 해역
2     2023-09-26  1.2  12.0  1.0  36.44  128.05      경북 상주시 서북서쪽 10km 지역
3     2023-09-26  1.5   9.0  1.0  39.03  126.57  북한 평안남도 양덕 남남서쪽 21km 지역
4     2023-09-25  1.2   9.0  1.0  34.98  127.38      전남 순천시 서북서쪽 10km 지역
...          ...  ...   ...  ...    ...     ...                      ...
5335  2022-09-24  4.0   9.0  3.0  34.47  135.19                   兵庫?南東部
5336  2022-09-23  4.7  83.0  3.0  36.04  140.12                    茨城?南部
5337  2022-09-23  4.6  26.0  1.0  26.21  125.59                  沖?本島北西沖
5338  2022-09-23  2.6  11.0  1.0  35.54  137.39                    長野?南部
5339  2022-09-23  2.7  13.0  1.0  37.31  137.18                  石川?能登地方

[5340 rows x 7 columns]